.container {
  /* border: 1px solid ridge; */
  display: grid;
  grid-template-columns: auto 40vw;
  height: 100vh;
}

.left {
  /* border: 1px solid green; */
  overflow: auto;
}

.right {
  /* border: 1px solid green; */
}
