.container {
  /* border: 1px solid green; */

  padding: 1em 0;
  padding-right: 1em;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  justify-content: center;
}

.label {
  font-size: 1.3rem;
  margin-bottom: 0.3em;
}

.error {
  color: red;
}

.test {
  display: inline;
  text-align: center;
}
