.input_field {
  font-size: 1.5rem;
  padding: 0.3em 0.5em;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  outline-color: rgb(95, 36, 222);
}

/* .input_field::-webkit-file-upload-button {
  visibility: hidden;
}

.input_field::before {
  content: 'Select Image';
  color: black;
  display: inline-block;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid red;
  border-radius: 2px;
  padding: 0.3em 0.5em;
  white-space: nowrap;
  user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}

.input_field:hover::before {
  border-color: black;
}
.input_field:active {
  outline: 0;
}
.input_field:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
} */

textarea.input_field {
  resize: vertical;
}
