.container {
  /* border: 1px solid red; */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 45px auto;
  height: 100%;
  border-left: 1px solid silver;
}

.pdfContainer {
  margin: auto;
  margin-top: 1em;
  height: 90vh;
  width: calc(90vh * 0.71);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.529);
}

.btnContainer {
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
  width: calc(90vh * 0.71);
  margin: 0 auto;
}

.flexContainer {
  gap: 0.5em;
}
