.container {
  /* border: 1px solid blue; */
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto 50px;
}

.projectContainer {
  /* border: 2px solid green; */
  border-right: 0.5px solid silver;

  border-radius: 5px;
}

.studentContainer {
  /* border: 2px solid blue; */
  border-left: 0.5px solid silver;
  grid-row-start: span 2;
  border-radius: 5px;
}

.facultyContainer {
  /* border: 2px solid red; */
  border-right: 0.5px solid silver;
  border-top: 0.5px solid silver;
  border-radius: 5px;
}

.buttonContainer {
  border-top: 1px solid silver;
  /* border: 1px solid red; */
  grid-column-start: span 2;
  display: flex;
  flex-direction: row;
  justify-content: right;
  padding: 1em;
}
